<form method='post' action='/update'>
  <input type='hidden' name='_method' value='put' />
  <input type='hidden' name='id' value='<%= id %>' />
  <h2>Edite la pregunta:</h2>
  <p>
    Pregunta: <input type='text' name='pregunta' value='<%= pregunta %>' /><br />
    Respuesta: <input type='text' name='respuesta' value='<%= respuesta %>' />
    <input type='submit' name='Actualizar' />
  </p>
</form>