<form method='get' action='/show'>
	<p>Escoge una pregunta:
	<%= include list.ejs  %>
  </p>
  <p>Dinos una respuesta: <input type='text' name='respuesta' placeholder='Su
  respuesta...' /></p>
	<p><input type='submit' value='Enviar' /></p>
</form>