<!DOCTYPE html>
<html lang='es'>
<head>
	<meta charset='utf-8'>
	<title>El juego de las Preguntas</title>
	<link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
	<link 	rel='stylesheet'
			type='text/css'
			media='only screen and (min-width: 530px) and (min-device-width: 481px)' 
			href='/stylesheets/wide.css' />
	<link 	rel='stylesheet'
			type='text/css'
			media='only screen and (max-width: 480px)' 
			href='/stylesheets/smartphone.css' />
</head>
  
<body>
<div id='page-wrapper'>
  
	<!-- Header -->
    <header class='main' id='h1'>
		<h1>El Juego de las Preguntas</h1>
	</header>
 
	<!-- Navigation bar -->
	<nav class='main' id='nav1'>
		<div><a href='/index'>Preguntas</a></div>
		<div><a href='/new'>Crear</a></div>
		<div><a href='/edit_list'>Editar</a></div>
		<div><a href='/remove_list'>Borrar</a></div>
	</nav>
	
	<!-- Body -->
	<section class='main' id='s1'>
		<%- body %>
	</section>
	
	<!-- Footer -->
	<footer class='main' id='f1'>
		<a href='http://es.wikipedia.org/wiki/Quiz'>
			¿Que es un Quiz?
		</a>
	</footer>
</div>
</body>
</html>
