<select name='pregunta'>
  <% var i, first=true; %>
  <% for(i=0; i<preguntas.length; i++) {%>
  <% if(first){ %>
  <option selected='selected'>
    <% first=false; %>
    <% } else { %>
  <option>
    <% } %>
    <%= preguntas[i].pregunta %>
  </option>
  <% } %>
</select>