<form method='post' action='/create'>
	<h2>Añada una pregunta nueva:</h2>
	<p>
	Pregunta: <input type='text' name='pregunta' /><br />
	Respuesta: <input type='text' name='respuesta' />
  </p>
	<input type='submit' value='Añadir' />
</form>