<form method='post' action='/delete'>
  <input type='hidden' name='_method' value='delete' />
  <input type='hidden' name='id' value='<%= id %>' />
  <h2>¿Esta seguro que quiere eliminar la pregunta?</h2>
  <p>
    Pregunta:
      <input type='text' name='pregunta' value='<%= pregunta %>' disabled />
    <br />
    Respuesta:
      <input type='text' name='respuesta' value='<%= respuesta %>' disabled />
  </p>
  <p>
    <input type='submit' name='Cancelar' value='Cancelar' />
    <input type='submit' name='Borrar' value='Borrar' />
  </p>
</form>