<header>
  <h2> Posts </h2>
</header>

<% for (var i in posts) { %>
  <article>
     <header>
        <h3> 
          <a href='/posts/<%= posts[i].id %>'> <%= posts[i].title %> </a>
        </h3>
     </header>
     
     <p>
        <%= posts[i].body.slice(0,300) %> ... 
     </p>

     <footer>
        <% var formname = 'fpi' + i; %>
        <form method='post' action='/posts/<%= posts[i].id %>' id='<%= formname %>'>
          <input type='hidden' name='_method' value='delete'>
          <a href="/posts/<%= posts[i].id %>/edit"> Editar </a> 
          <a href="" 
             onclick="confirmarSubmit('¿Seguro que desea borrar el post?', 
                                      '<%= formname %>'); return false"> Borrar </a>  
        </form>
     </footer>
  </article>

<%  }; %>
<footer>
  <nav>
    <a href="/posts/new"> Crear nuevo Post </a>
  </nav>
</footer>
