body { background: #999; }

nav 		{ float: left; width: 15%; height: 200px; }
nav  div	{ margin: 0px 100px 0px 0px; }
section	{ float: right; width:80%; height:200px; }
div#cont 	{ text-align: center; margin-top: 15px; }
footer 	{ clear: both; display: block; }