* 		{ margin: 0; padding: 0; }
body 	{ font: 16px Georgia, serif; }

#page-wrapper { margin: 2% auto; color: white; }
#page-wrapper  > .main  { border: 1px dolid #999; padding: 1%; margin-bottom: 1px; color: black; }

header, nav, section, footer { background: #eee; }
footer 	{ text-align: center; }
nav  div 	{ 	margin: 0px 10px 0px 0px; }
a 		{ color: #00B7FF; }