<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="utf-8">
   <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
   <title>Blog SWCM</title>
   <script src="/javascripts/misc.js"></script>
</head>
<body>
   <header>
     <h1> SoftWare de CoMunicaciones - SWCM</h1>
     <nav> 
         <a href="/">Home</a>    
         <div id='logininfo'>
           <% if (session.user) { %>
               <%= session.user.name %>
               <a href='/logout'> Logout </a> 
           <% } else { %>
              <a href='/login?redir=/posts'> Login </a> 
              <a href='/users/new'> Register </a> 
           <% } %>
         </div>

         <a href="/posts">Posts</a>
         <a href="/users">Usuarios</a>
         <!--Entrega 11 -->
         <% if (session.user) { %>
            <a href= <%='/users/' + session.user.id + '/favourites'%> >Favoritos</a>
          <% } %>
         <!--Entrega 10 -->
         <a href="/posts/search">Busqueda</a> 
         <!--Entrega 9 -->
         <a href="/creditos">Créditos</a>
     </nav>
   </header>
  
   <section>
        <% if (messages.info) { %>
           <article id='flashinfo'>
             <h3>Información de interés:</h3>
             <ul>
                <% for (var i in messages.info) { %>
                  <li> <%= messages.info[i] %> </li>
                <% } %>
             </ul>
           </article>
        <% } %>

        <% if (messages.success) { %>
           <article id='flashsuccess'>
             <h3>Tareas completadas con éxito:</h3>
             <ul>
                <% for (var i in messages.success) { %>
                   <li> <%= messages.success[i] %> </li>
                <% } %>
             </ul>
           </article>
        <% } %>

        <% if (messages.error) { %>
           <article id='flasherror'>
             <h3>Errores encontrados:</h3>
             <ul>
                <% for (var i in messages.error) { %>
                  <li> <%= messages.error[i] %> </li>
                <% } %>
             </ul>
           </article>
        <% } %>
   </section>

   <section>
     <%- body %>
   </section>

   <footer>
      SWCM 2013-2014 - ETSIT UPM
   </footer>
</body>
</html>
