<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="utf-8">
   <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
   <title>Blog SWCM</title>
</head>

<body>
   <header>
     <h1> SoftWare de CoMunicaciones - SWCM</h1>
     <nav> 
         <a href="/">Home</a>    
         <a href="/creditos">Créditos</a>
     </nav>
   </header>
  
   <section>
     <%- body %>
   </section>

   <footer>
      SWCM 2013-2014 - ETSIT UPM
   </footer>
</body>
</html>
